#section-3{
    background-color: var(--background_color-section-3);
    width: 100%;
    height: 37rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1.2rem;
}

#section-3-text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1.2rem;
    width: 100%;
}

h3{
    background-color: inherit;
    color: var(--section-3-font-color);
    font-family: var(--font-family-1);
    font-size: 2rem;
    margin-bottom: 0.5rem;
    
}

.section-3-p{
    background-color: inherit;
    font-size: 6.5em;
    color: var(--section-3-font-color);
    font-family: var(--font-family-2);
    width: 80%;
    text-align: center;
}

#section-3-input-and-btn-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    row-gap: 1rem;
    height: 20rem;
    width: 100%;
}
#input-2{
    width: 60%;
    height: 4rem;
    border: 0.1rem solid black;
    font-size: 1.1rem;
    padding-left: 1.2rem;
    border-radius: 0.2em;
    border: none;
}

#btn-2{
    background-color: var(--btn-1-background-color);
    width: 60%;
    height: 4rem;
    font-size: 5.5em;
    font-family: var(--font-family-1);
    font-weight: 800;
    color: var(--section-3-font-color);
    border: none;
    border-radius: 0.2em;
    cursor: pointer;
}

#btn-2:hover{
    opacity: 0.72;
    transition: 0.4s;
}
#btn-2:active{
    margin-top: 0.8rem;
}


#warning_text_2{        /*hiden*/
    font-size: 1.3rem;
    font-family: var(--font-family-2);
    display: none;
    color: white;
}

#warning_text_2.showup{  /*hiden*/
    display: inherit;
}

#warning_text_2.showup2{ /*hiden*/
    display: inherit;
    color: white;
}

#input-2.active{
    border-color: red;
}



/* Tablet */

@media screen and (min-width:768px){
    #section-3{
        flex-direction: row;
        height: 27rem;
    }
    #section-3-text-container{
        align-items: flex-start;
        padding-left: 4rem;
    }
    .section-3-p{
        text-align: start;
        line-height: 2rem;
        font-size: 5.5em;
    }   

    #section-3-input-and-btn-container{
        align-items: start;
        padding-left: 10rem;
        row-gap: 1rem;
    }
    #btn-2{
        width: 50%;
        align-self: flex-start;
        height: 5.5rem;
        font-size: 5em;
    }
    #input-2{
        width: 80%;
        height: 5.5rem;
        font-size: 1.2rem;
    }
}

/* Desktop */

@media screen and (min-width:1024px){
    #section-3-text-container{
        align-items: flex-start;
        padding-left: 10rem;
        margin-top: -5rem;
    }
    h3{
        font-size: 2.4rem;
    }
    
    .section-3-p{
        text-align: start;
        font-size: 6.5em;
        line-height: 1.5em;
    }   
    #btn-2{
        width: 40%;
        font-size: 6em;
    }
    #input-2{
        width: 80%;
        font-size: 1.6rem;
    }

}